@(accountOption:Option[com.rodneylai.auth.Account])(implicit request: Request[Any], environment: play.api.Environment, configuration: play.api.Configuration)

@main("Rodney's Test Server",accountOption,"home") {
} {
} {

<div id="title-bar-container">
  <div id="title-container" style="float:left;">
    <h2>Rodney's Test Server <img id="wait-img" src='@routes.Assets.versioned("/public/images","ajax-spinner-transparent.gif")' /></h2>
  </div>
@(configuration.getString("aws.s3.bucket"),configuration.getString("aws.s3.folder")) match {
  case (Some(bucketName),Some(folderName)) => {
    <div style="float:right;margin:5px;"><a href="/webcam"><img src="/img/webcam.jpg" width="75" alt="view from rodney's window" title="view from rodney's window" /></a></div>
  }
  case _ => {}
}
  <div style="clear:both;"></div>
</div>
<div id="primary-container" class="home-page">
  <div class="content">
  </div>
</div>

<script type="text/javascript">

  var com;
  $(function(){
    @views.html.components.namespace_init(Seq("home"))
    com.rodneylai.home.index = function() {
      var m_images = [];
      var m_imageIndex = 0;
      var m_width = $("#primary-container .content").width() * 0.75;
      var m_height = $(window).height() * 0.45;

      return {
        init: function() {
          $("#primary-container .content").css("height",(m_height + 300) + "px");
          $.getJSON("@services.routes.home.get_scraped_images",null,function(data, status, xhr){
            $("#wait-img").hide();
            m_images = data;
            if (m_images.length) {
              setInterval(function(){
                var x = (Math.random() * m_width);
                var y = (Math.random() * m_height);

                $("<img src='" + m_images[m_imageIndex % m_images.length] + "' style='left:" + x + "px;top:" + y + "px;' />").appendTo("#primary-container .content");
                m_imageIndex++;
              },1000);
            }
          });
        }
      }
    }();
    com.rodneylai.home.index.init();
  });

</script>

}

@*
 *
 * Copyright (c) 2015-2017 Rodney S.K. Lai
 * https://github.com/rodney-lai
 *
 * Permission to use, copy, modify, and/or distribute this software for
 * any purpose with or without fee is hereby granted, provided that the
 * above copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *
 *@
