@(implicit request: Request[Any], environment: play.api.Environment)

@main("login",None,"login",false) {
} {
} {

<div id="title-container">
  <h2>Login</h2>
</div>
<div id="primary-container" class="login-page">
  <div class="content">
    <div class="message-container"></div>

    <div class="login-container"></div>

    <div class="clearing">&nbsp;</div>
  </div>
</div>


<script type="text/html" id="login-template">

<div class="email-address-container">
  <label><div>Email Address or</div><div>User Name:</div></label>
  <input id="login-input" type="text" data-bind="value:login,events:['keyup']">
  <div class="clearing">&nbsp;</div>
</div>
<div class="password-container">
  <label>Password:</label>
  <input id="password-input" type="password" data-bind="value:password,events:['keyup']">
  <div class="clearing">&nbsp;</div>
</div>
<div class="login-button-container">
  <label>&nbsp;</label>
  <a class="button login-button button-default" style="float:left;">login</a>
  <img class="login-wait-img" src='@routes.Assets.versioned("/public/images","ajax-spinner-transparent.gif")' style="display:none;float:left;margin-left:5px;" />
  <div class="clearing">&nbsp;</div>
</div>
<div class="clearing">&nbsp;</div>

</script>

<script type="text/html" id="wait-template">

<img id="wait-img" src='@routes.Assets.versioned("/public/images","ajax-spinner-transparent.gif")' />

</script>

<script type="text/html" id="unexpected-error-template">

<div class="error-box">There was an unexpected error.  Try again later.</div>

</script>

<script type="text/html" id="login-failed-error-template">

<div class="error-box">Login failed.  Try again.</div>

</script>

<script type="text/javascript">

  var com;
  $(function(){
    @views.html.components.namespace_init(Seq("home"))
    @views.html.components.epoxy_init()
    com.rodneylai.home.login = function() {
      var m_app;

      return {
        init: function() {
          m_app = new Backbone.Marionette.Application();

          m_app.module('model', function (model, app, Backbone) {

            model.Login = Backbone.Model.extend({
              defaults: {
                login : null,
                password : null
              },
              url: '@controllers.services.routes.auth.login'
            });

          });

          m_app.module('view', function (view, app, Backbone, Marionette) {

            view.Login = com.rodneylai.EpoxyItemView.extend({
              model: app.model.Login,
              bindings: "data-bind",
              template: Backbone.Marionette.TemplateCache.get("#login-template"),
              ui: {
                login_input:"#login-input",
                password_input:"#password-input",
                login_button:".login-button",
                login_wait_img:".login-wait-img"
              },
              events: {
                "click .login-button[disabled!=disabled]" : "login_click",
                "keyup #login-input" : "check_for_enter",
                "keyup #password-input" : "check_for_enter"
              },
              check_for_enter:function(ev){
                if (ev.keyCode == 13) {
                  this.login_click();
                }
              },
              login_click:function(){
                var view = this;

                this.ui.login_wait_img.show();
                this.ui.login_input.attr("disabled","disabled");
                this.ui.password_input.attr("disabled","disabled");
                this.ui.login_button.attr("disabled","disabled");
                this.model.save(null,
                  {
                    success: function(model, response, options){
                      if (response == 'fail') {
                        m_app.message.show(new m_app.view.LoginFailedError());
                      } else {
@request.queryString.get("return_url") match {
  case Some(returnUrl) => {
                        document.location = '@returnUrl';
  }
  case None => {
                        document.location = response;
  }
}
                      }
                    },
                    error: function(model, xhr, options){
                      view.ui.login_input.removeAttr("disabled");
                      view.ui.password_input.removeAttr("disabled");
                      view.ui.login_button.removeAttr("disabled");
                      view.ui.login_wait_img.hide();
                      if (xhr.status == 403) {
                        m_app.message.show(new m_app.view.LoginFailedError());
                      } else {
                        m_app.message.show(new m_app.view.UnexpectedError());
                      }
                    }
                  }
                );
              }
            });

            view.UnexpectedError = Marionette.ItemView.extend({
              template: Backbone.Marionette.TemplateCache.get("#unexpected-error-template"),
              ui: {
                error_box:".error-box"
              },
              onShow: function(){
                var ui = this.ui;
                setInterval(function(){$(ui.error_box).fadeOut()},5000);
              }
            });

            view.LoginFailedError = Marionette.ItemView.extend({
              template: Backbone.Marionette.TemplateCache.get("#login-failed-error-template"),
              ui: {
                error_box:".error-box"
              },
              onShow: function(){
                var ui = this.ui;
                setInterval(function(){$(ui.error_box).fadeOut()},5000);
              }
            });

            view.Wait = Marionette.ItemView.extend({
              template: Backbone.Marionette.TemplateCache.get("#wait-template")
            });

          });

          m_app.addRegions({message : '.message-container',
                            login : '.login-container'
          });

          m_app.addInitializer(function(options){
            m_app.login.show(new m_app.view.Login({ model : new m_app.model.Login() }));
          });

          m_app.start();
        }
      }
    }();
    com.rodneylai.home.login.init();
  });

</script>

}

@*
 *
 * Copyright (c) 2015-2016 Rodney S.K. Lai
 * https://github.com/rodney-lai
 *
 * Permission to use, copy, modify, and/or distribute this software for
 * any purpose with or without fee is hereby granted, provided that the
 * above copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *
 *@
