@(account:com.rodneylai.auth.Account,collectionName:String,statsOption:Option[Seq[(String,String)]],collectionListOption:Option[Set[String]])(implicit request: Request[Any], environment: play.api.Environment)

@views.html.developer.main("manage mongodb collection [ " + collectionName + " ]",Some(account),"developer","mongodb") {
} {

<div id="title-container">
  <h2>Manage MongoDB Collection [ @collectionName ]</h2>
</div>
<div id="primary-container" class="manage-mongodb-collection-page">
  <div class="content">

    <div class="main-container">
      <div class="main-content">
        <div class="message-container"></div>
        <div style="font-size:1.2em;">Stats</div>
@statsOption match {
  case Some(mongoDatabaseStats) => {
        <div class="stat-list-container">
    @for((stat,value) <- mongoDatabaseStats) {
          <div class="stat-container">
            <label>@stat:</label>
            <div style="word-wrap:break-word;">@value</div>
            <div class="clearing">&nbsp;</div>
            </div>
    }
        </div>
  }
  case None => {
        <div class="error-box">No Collection</div>
  }
}
        <div style="font-size:1.2em;">Data</div>
        <div class="data-list-container"></div>
        <div class="loading-container"></div>

        <div class="clearing">&nbsp;</div>
      </div>
    </div>
    <div class="sidebar-container">
      <div style="font-size:1.2em;">Collections</div>
@collectionListOption match {
  case Some(collectionList) => {
    @for((collectionNameX,index) <- collectionList.toSeq.sortBy(x => x.toLowerCase).zipWithIndex) {
      @if(collectionName == collectionNameX) {
      <div class="item-@(index%2)">@collectionNameX</div>
      } else {
      <div class="item-@(index%2)"><a href="@routes.Developer.mongodb_collection(collectionNameX)">@collectionNameX</a></div>
      }
    }
  }
  case None => {
      <div>No collections</div>
  }
}
      <div class="clearing">&nbsp;</div>
    </div>

    <div class="clearing">&nbsp;</div>
  </div>
</div>


<script type="text/html" id="wait-template">

<img id="wait-img" src='@routes.Assets.versioned("/public/images","ajax-spinner-transparent.gif")' />

</script>

<script type="text/html" id="data-template">

<div class="data-date-container"><%= date %></div>
<div class="data-json-container"><pre><%= JSON.stringify(JSON.parse(json),null,'  ') %></pre></div>

</script>

<script type="text/javascript">

  var com;
  $(function(){
    @views.html.components.namespace_init(Seq("developer"))
    @views.html.components.epoxy_init()
    com.rodneylai.developer.mongodb_collection = function() {
      var m_app;
      var m_dataList = null;
      var m_prevScrollPos = 0;

      return {
        init: function() {
          m_app = new Backbone.Marionette.Application();

          m_app.module('model', function (model, app, Backbone) {

            model.Data = Backbone.Model.extend({
              defaults: {
                date : null,
                json : null
              }
            });

            model.DataCollection = Backbone.Collection.extend({
              model: m_app.model.Data
            });

          });

          m_app.module('view', function (view, app, Backbone, Marionette) {

            view.Data = Marionette.ItemView.extend({
              template: Backbone.Marionette.TemplateCache.get("#data-template"),
              model: app.model.Data,
              className: function() {
                return("data-item-"  + (this.options.childIndex % 2) + "-container");
              }
            });

            view.DataList = Marionette.CollectionView.extend({
              collection: app.model.DataCollection,
              childView: view.Data,
              childViewOptions: function(model, index) {
                return {
                  childIndex: index
                }
              }
            });

            view.Wait = Marionette.ItemView.extend({
              template: Backbone.Marionette.TemplateCache.get("#wait-template")
            });

          });

          m_app.addRegions({
            data_list : '.data-list-container',
            loading : '.loading-container'
          });

          m_app.addInitializer(function(options){
            m_app.loading.show(new m_app.view.Wait);
            m_dataList = new m_app.model.DataCollection;
            m_dataList.url = '/services/developer/mongodb/@collectionName';
            m_dataList.fetch({
              success: function(collection, response, options){
                m_app.loading.reset();
                m_app.data_list.show(new m_app.view.DataList({collection:m_dataList}));
              },
              error: function(collection, xhr, options){
                m_app.loading.reset();
                if (xhr.responseJSON == "kick") {
                  document.location = "@routes.Auth.login?return_url=@play.utils.UriEncoding.encodePathSegment(request.uri,"UTF-8")";
                }
              }
            });
            $(window).scroll(function(ev){
              if ((!m_app.loading.hasView()) && (m_prevScrollPos < $(window).scrollTop()) &&
                ($(window).scrollTop() + $(window).height() > $("body").height())) {
                m_app.loading.show(new m_app.view.Wait);
                dataList = new m_app.model.DataCollection;
                dataList.url = '/services/developer/mongodb/@collectionName?skip=' + m_dataList.length;
                dataList.fetch({
                  success: function(collection, response, options){
                    m_app.loading.reset();
                    m_dataList.add(dataList.models);
                  },
                  error: function(collection, xhr, options){
                    m_app.loading.reset();
                    if (xhr.responseJSON == "kick") {
                      document.location = "@routes.Auth.login?return_url=@play.utils.UriEncoding.encodePathSegment(request.uri,"UTF-8")";
                    }
                  }
                });
              }
              m_prevScrollPos = $(window).scrollTop();
            });
          });

          m_app.start();
        }
      }
    }();
    com.rodneylai.developer.mongodb_collection.init();
  });

</script>

}

@*
 *
 * Copyright (c) 2015-2017 Rodney S.K. Lai
 * https://github.com/rodney-lai
 *
 * Permission to use, copy, modify, and/or distribute this software for
 * any purpose with or without fee is hereby granted, provided that the
 * above copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *
 *@
