
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Swagger UI</title>
  <link rel="icon" type="image/png" href="img/swagger/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="img/swagger/favicon-16x16.png" sizes="16x16" />
  <link href='css/swagger/swagger-ui.css' media='screen' rel='stylesheet' type='text/css'/>
  <script src='js/swagger/swagger-ui-bundle.js' type='text/javascript' charset='UTF-8'></script>

  <script type="text/javascript">
    window.onload = function() {
      const ui = SwaggerUIBundle({
        url: "/swagger.json",
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ]
      })

      window.ui = ui
    }
  </script>
</head>

<body class="swagger-section">
  <section class="swagger-ui swagger-container">
  <div class="topbar">
    <div class="wrapper">
      <div class="topbar-wrapper">
        <a id="logo" href="https://swagger.io">swagger</a>
      </div>
    </div>
  </div>
</section>
  <div id="swagger-ui"></div>
</body>
</html>
